.img{
    //height: 100%;
    width: 100%;
    object-fit: cover;
}

a{
   color: black;
    cursor: pointer;
    text-decoration: none;
}

.div-flex{
    display: flex;
    justify-content: space-between;
}

ion-icon {
    margin-right: 8px;
}

@media (min-width: 300px) {
    .img{
        height: 220px;
    }
}

@media (min-width: 540px) {
    // .card{
    //     width: 300px;
    // }
    .img{
        height: 300px;
    }
}

@media (min-width: 720px) {
    .img{
        height: 220px;
    }
}