<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let product of products" size-xs="12" size-md="3">
        <ion-card class="card">
          <ion-img class="img" [src]="product?.image"></ion-img>
          <ion-card-content>
            <div class="div-flex">
              <a [routerLink]="['./products', product?.id]">{{product.title}}</a>
                <div>
                  <ion-icon name="thumbs-up-sharp" size="small"></ion-icon>
                  <span>{{product.likes}}</span>    
                </div>        
            </div>       
          </ion-card-content>
          <div class="ion-text-center">
            <ion-button 
              color="primary"
              (click)="addCart(product)"
            >
              <ion-icon
                slot="icon-only"
                name="cart-outline">
              </ion-icon>
                Buy
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


