<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{product.title}}</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img [src]="product?.urls.small"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{ product?.alt_description }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

