<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  <ion-list>
      <ion-item *ngFor="let product of products" [routerLink]="['/products', product.id]">
      <ion-avatar slot="start">
        <ion-img [src]="product.imageURL"></ion-img>
      </ion-avatar>
        <ion-label>
          {{product.title}}
        </ion-label>     
    </ion-item>  
  </ion-list>
</ion-content> -->
<!-- <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let product of products"  size-xs="12" size-md="4">
        <ion-card class="card">
          <ion-img class="img" [src]="product.imageURL"></ion-img>
          <ion-card-content>
            <p [routerLink]="['/products', product.id]">{{product.title}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->


<ion-header>
  <ion-toolbar color="primary">
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let product of products" size-xs="12" size-md="4">
        <ion-card class="card">
          <ion-img class="img" [src]="product?.urls.small"></ion-img>
          <ion-card-content>
            <a [routerLink]="['/products', product?.id]">{{product.tags[0].title}}</a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
