<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let product of products" size-xs="12" size-md="4">
        <ion-card class="card">
          <ion-img class="img" [src]="product?.urls.small"></ion-img>
          <ion-card-content>
            <div class="div-flex">
              <a [routerLink]="['/products', product?.id]">{{product.description}}</a>
                <div>
                  <ion-icon name="thumbs-up-sharp" size="small"></ion-icon>
                  <span>{{product.likes}}</span>    
                </div>        
            </div>       
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
