<ion-header>
  <ion-toolbar color="primary">
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let product of products" size-xs="12" size-md="4">
        <ion-card class="card">
          <ion-img class="img" [src]="product?.urls.small"></ion-img>
          <ion-card-content>
            <a [routerLink]="['/products', product?.id]">{{product.tags[0].title}}</a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
